<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edudi_Auction>
            <version>1.0.4</version>
        </Edudi_Auction>
    </modules>
    <frontend>
        <routers>
            <edudi_auction>
                <use>standard</use>
                <args>
                    <module>Edudi_Auction</module>
                    <frontName>eauction</frontName>
                </args>
            </edudi_auction>
        </routers>
        <layout>
            <updates>
                <edudi_auction module="Edudi_Auction">
                    <file>edudi_auction.xml</file>
                </edudi_auction>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <edudi_auction before="Mage_Adminhtml">Edudi_Auction_Adminhtml</edudi_auction>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <catalog_product_save_before>
                <observers>
                    <edudi_save_auction>
                        <type>singleton</type>
                        <class>Edudi_Auction_Model_Observer</class>
                        <method>saveAuctionExpiry</method>
                    </edudi_save_auction>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>
    <global>
        <blocks>
            <edudi_auction>
                <class>Edudi_Auction_Block</class>
            </edudi_auction>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tabs>Edudi_Auction_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <edudi_auction>
                <class>Edudi_Auction_Helper</class>
            </edudi_auction>
        </helpers>
        <models>
            <edudi_auction>
                <class>Edudi_Auction_Model</class>
                <resourceModel>edudi_auction_resource</resourceModel>
            </edudi_auction>
            <edudi_auction_resource>
                <class>Edudi_Auction_Model_Resource</class>
                <entities>
                    <bid>
                        <table>edudi_auction_bids</table>
                    </bid>
                    <mapping>
                        <table>edudi_auction_bid_increment</table>
                    </mapping>
                </entities>
            </edudi_auction_resource>
        </models>
        <resources>
            <edudi_auction_setup>
                <setup>
                    <module>Edudi_Auction</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </edudi_auction_setup>
            <edudi_auction_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </edudi_auction_write>
            <edudi_auction_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </edudi_auction_read>
        </resources>
        <template>
	        <email>
	            <auction_winner_template module="Edudi_Auction">
	                <label>Edudi Auction Winner Tempalte</label>
	                <file>auction_winner_email.html</file>
	                <type>html</type>
	            </auction_winner_template>
	            <auction_outbid_template module="Edudi_Auction">
                    <label>Edudi Auction Outbid Tempalte</label>
                    <file>auction_outbid_email.html</file>
                    <type>html</type>
                </auction_outbid_template>
	        </email>
	    </template>
    </global>
    <crontab>
        <jobs>
            <announce_auction_winners>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>edudi_auction/observer::getBidWinners</model></run>
            </announce_auction_winners>
        </jobs>
    </crontab>
</config>